

  <ul class="nav justify-content-center border-top">
	<li class="nav-item">
		<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			Home
		  </button>
	</li>
	<li class="nav-item">
		<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
			  </svg> Saved 
		  </button>
	</li>
	<li class="nav-item">
		<div class="dropdown"> 
			<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Motors
			</button>
			<ul class="dropdown-menu " aria-labelledby="dropdownMenu2">
			  <li><ul class="nav justify-content-center">
				<ul class="nav justify-content-center navbar-light bg-light col-12">
					<li class="nav-item ">
					  <a style="font-size: 22px;"class="nav-link active text-secondary" aria-current="page" href="#">Parts & Accossories</a>
					  <ul class="nav flex-column">
						<li class="nav-item">
						  <a style="font-size: 13px;" class="nav-link active text-secondary" aria-current="page" href="#">All Parts & Truck Parts</a>
						</li>
						<li class="nav-item">
						  <a style="font-size: 13px;" class="nav-link text-secondary" href="#">Motorcycle Parts</a>
						</li>
						<li class="nav-item">
						  <a style="font-size: 13px;" class="nav-link text-secondary" href="#">Automotive Tools & Supplies</a>
						</li>
						<li class="nav-item">
						  <a style="font-size: 13px;"class="nav-link text-secondary" href="#">Apparel & Mechandlse</a>
						</li>
						<li class="nav-item">
						  <a style="font-size: 13px;"class="nav-link text-secondary" href="#">Motor Deals</a>
						</li>
						<li class="nav-item">
						  <a style="font-size: 13px;"class="nav-link text-secondary " href="#">My Garage</a>
						</li>
					  </ul>
					</li></ul>
				
				
				
			  </ul></li>
			</ul>
		  </div>
	</li>
	<li class="nav-item">
		<div class="dropdown"> 
			<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Fashion
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button">Will be here soon</button></li>
			  
			</ul>
		  </div>
	</li>
	<li class="nav-item">
		<div class="dropdown"> 
			<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Electronics
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button">Will be here soon</button></li>
			  
			</ul>
		  </div>
	</li>
	<li class="nav-item">
		<div class="dropdown"> 
			<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Collectibles & Art
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button">Will be here soon</button></li>
			  
			</ul>
		  </div>
	</li>
	<li class="nav-item">
		<div class="dropdown"> 
			<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Home & Garden
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button">Will be here soon</button></li>
			  
			</ul>
		  </div>
	</li>
	<li class="nav-item">
		<div class="dropdown"> 
			<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Sporting Goods
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button">Will be here soon</button></li>
			  
			</ul>
		  </div>
	</li>
	<li class="nav-item">
		<div class="dropdown"> 
			<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Toys
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button">Will be here soon</button></li>
			  
			</ul>
		  </div>
	</li>
	<li class="nav-item">
		<div class="dropdown"> 
			<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Business & Industrial
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button">Will be here soon</button></li>
			  
			</ul>
		  </div>
	</li>
	<li class="nav-item">
		<div class="dropdown"> 
			<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Music
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button">Will be here soon</button></li>
			  
			</ul>
		  </div>
	</li>
	<li class="nav-item">
		<div class="dropdown"> 
			<button class="btn btn-white " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Deals
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button">Will be here soon</button></li>
			  
			</ul>
		  </div>
	</li>
  </ul>
