

<div class="container container-fluid">
    <div class="row mt-4">
      <div class="col-5 mb-4 mt-4"><a href="#"><h3 class="text-black">{{shop}}</h3></a></div>
      <div class="col-5 mb-4 mt-4"><a href="#"><h3 class="text-black">See all <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg></h3></a></div>
      <div class="col-12 mb-4"><div class="container">
        <div class="row">
          <div class="col"> <li class="nav-item">
            <div class="card border-0" style="width: 18rem;">
                <img src="./assets/item5.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">$69.99</h5>
                  <p class="card-text text-secondary">$169.99 . 59% OFF</p>
                  
                </div>
              </div>
        </li></div>
          <div class="col"> <li class="nav-item">
            <div class="card border-0" style="width: 18rem;">
                <img src="./assets/item6.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">$17.49</h5>
                  <p class="card-text text-secondary">$30.69 . 43%</p>
                  
                </div>
              </div>
        </li></div>
          <div class="col "> <li class="nav-item">
            <div class="card border-0 " style="width: 18rem;">
                <img src="./assets/item7.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">$289.00</h5>
                  <p class="card-text text-secondary">$369.99 . 22% OFF</p>
                  
                </div>
              </div>
        </li></div>
          <div class="col"> <li class="nav-item">
            <div class="card border-0" style="width: 18rem;">
                <img src="./assets/item8.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">$284.99</h5>
                  <p class="card-text text-secondary">$499.99 . 43% OFF</p>
                  
                </div>
              </div>
        </li></div>
        </div></div>
    </div>
  </div>
  </div>
      
  
    