<app-top-middle-bar></app-top-middle-bar>
<div class = "container">
    <p> eBay > Brand Outlet</p>

    <h2> The Brand Outlet</h2>
    <div class= "row">
    <div class = "col-3">
        <a class = "text-black mb-2" href="#"> <p href="#">Fashion & Jewelry</p></a>
        <a class = "text-black mb-2" href="#"> <p> Burberry - Up to 30% off</p></a>
        <a class = "text-black mb-2" href="#"> <p>Champion - Up to 40% off</p></a>
        <a class = "text-black mb-2" href="#"> <p>Chanel - Up to 20% off</p></a>
    </div>
    <div class = "col-9">
        <img src="./assets/brandOutlet.webp" alt="" >
        <h4 class="mt-4"> Get the best in luxury</h4>



        <ul class="nav  my-5">
            <li class="nav-item">
                <div class="card mx-3 border-0" style="width: 13rem;">
                    <img src="./assets/B1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                     
                      <p class="card-text ">Burberry, up to 30% off from trusted sellers</p>
                    </div>
                  </div>
            </li>
            <li class="nav-item">
                <div class="card mx-3 border-0" style="width: 13rem;"> 
                    <img src="./assets/B2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text ">Chanel, up to 20% off from trusted sellers</p>
                      
                    </div>
                  </div>
            </li>
            <li class="nav-item">
              <div class="card mx-3 border-0" style="width: 13rem;">
                  <img src="./assets/B3.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text ">Dior, up to 25% off from trusted sellers</p>
                    
                  </div>
                </div>
          </li>
          <li class="nav-item">
            <div class="card mx-3 border-0" style="width: 13rem;">
                <img src="./assets/B4.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text ">Gucci, up to 40% off from trusted sellers</p>
                  
                </div>
              </div>
        </li>

        
        
        </ul>

        
    </div>
</div>
<div class= "row">
    
</div>
</div>