<div class=" bg-light">
<app-top-middle-bar>top middle nav bar</app-top-middle-bar>
</div>
<div class="bg-light">
<div class="container">
    <div class="row">
        <!--here-->
    <app-under-navbar>The navigation under navbar</app-under-navbar>
      <!--here-->
    </div>
    <div class="row mt-2 mb-3">
    <img src="./assets/Adv-first-deals.JPG" alt="">
</div>
<div class="row">
    <!-- items on sale-->
   <app-items-on-sale>Spotlight Deals and Trend Items</app-items-on-sale>
<!--items on sale-->
</div>
<div class="row">
    <p style="font-size: 27px" class="border bg-white text-center mt-3"> Featured Deals</p>
</div>
<app-purchase-items-daily></app-purchase-items-daily>
<div class="row mt-2 mb-3">
  <img src="./assets/adv1.JPG" alt="">
</div>
<app-purchase-items-daily></app-purchase-items-daily>
  </div><!-- inside container up-->
  
  

</div> <!-- this is to keep the background light-->





  
