<app-top-middle-bar> middle navbar</app-top-middle-bar>
<app-top-down-bar>Top down nav bar</app-top-down-bar>
<div class="container px-1">
  <div class="row">
    <app-images-gallery>The Gallery</app-images-gallery>
  </div>
</div>
<div class="container">
  <div class="row">
    <app-purchase-items>First Items</app-purchase-items>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <app-purchase-items2>Second Items</app-purchase-items2>
  </div>
</div>
<div class="container">
  <div class="row">
    <app-Down-Adv>Down Advertisment</app-Down-Adv>
  </div>
</div>