<app-top-middle-bar> middle navbar</app-top-middle-bar>
<app-top-down-bar>Top down nav bar</app-top-down-bar>
<div class="container px-1">
  <div class="row">
    <app-images-gallery>The Gallery</app-images-gallery>
  </div>
</div>
<div class="container mt-4">


  <div class="d-flex flex-row">
    <div *ngFor="let item of items">
      <app-items price={{item.price}} discount={{item.discount}} imagePath={{item.imagePath}}>First Items</app-items>
    </div>
  </div>


</div>
<div class="container-fluid">
  <div class="row">
    <app-purchase-items2>Second Items</app-purchase-items2>
  
  </div>
</div>
<div class="container">
  <div class="row">
    <app-Down-Adv>Down Advertisment</app-Down-Adv>
  </div>
</div>