<nav class="navbar navbar-expand-lg navbar-light  "><div class="mx-auto" style="width: 300px;"></div>
	<div class="container-fluid">
		<nav class="navbar navbar-light ">
			<div class="container">
			  <a class="navbar-brand" routerLink="">
				<img src="./assets/ebayImage.png" alt="" width="115" height="45">
			  </a>
			</div>
		  </nav>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<div class="dropdown">
				<button class="btn btn-white dropdown-toggle text-secondary mt-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
				  Shop by category
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				  <li><a class="dropdown-item" href="#">Will be here soon</a></li>
				 
				</ul>
			  </div>
		  </li>
		  <li class="nav-item">
			<nav class="navbar navbar-light ">
				<div class="container-fluid">
				  <form class="d-flex">
					<input class="form-control me-2 col-12" type="search" placeholder="Search for anything" aria-label="Search">
					<div class="dropdown">
						<button class="btn btn-white dropdown-toggle text-secondary " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
						 All Categories
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">All Categories</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Antiques</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Art</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Baby</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Books</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Business & Industrial</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Cameras & Photos</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Cell phones & Accessories</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Clothing & Shoes & Accessories</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Coins & Paper Money</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Collectibles</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Computers/Tablets & Networking</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Consumer Electronics</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Crafts</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Dolls & Bears</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">DVD & Movies</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">eBay Motors</a></li>
						  <li><a style="font-size: 11px ;" class="dropdown-item text-secondary" href="#">Entertainment Memoribailia</a></li>
						</ul>
					  </div>
					<button class="btn btn-primary col-4" type="submit">Search</button> 
					<a style="font-size: 11px ;" class="nav-link active text-secondary mb-2" aria-current="page" href="#">Advanced</a>
				  </form>
				</div>
			  </nav>
		  </li>
		  
		  
		</ul>
		
	  </div>
	</div>
  </nav>
