
<nav class="navbar navbar-expand-lg navbar-light  border-bottom"><div class="mx-auto" style="width: 300px;"></div>

	<div class="container-fluid ">
	  <p>Hi! <a href="#">Sign in </a> or <a href="#">register </a> </p>
	  
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link active text-black mb-2" aria-current="page" routerLink="Daily Deals">Daily Deals</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active text-black mb-2" aria-current="page" routerLink="Brand Outlet">Brand Outlet</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active text-black mb-2" aria-current="page" routerLink="Help & Contact">Help & Contact</a>
		

		</ul >
		

			<a class="nav-link active text-black" aria-current="page" href="#">Sell</a>
		
		
		<div class="dropdown">
			<button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  Watchlist
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item " type="button"><h4 class="text-secondary">Please <a class="text-black"href="#">Sign in </a> to view items you are watching.</h4></button></li>
			  
			</ul>
		  </div>

		  <div class="dropdown"> 
			<button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
			  My eBay
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button">Summary</button></li>
			  <li><button class="dropdown-item" type="button">Recently Viewed</button></li>
			  <li><button class="dropdown-item" type="button">Bids/Offers</button></li>
			  <li><button class="dropdown-item" type="button">Watchlist</button></li>
			  <li><button class="dropdown-item" type="button">Purchase History</button></li>
			  <li><button class="dropdown-item" type="button">Buy Again</button></li>
			  <li><button class="dropdown-item" type="button">Selling</button></li>
			  <li><button class="dropdown-item" type="button">Saved Searches</button></li>
			  <li><button class="dropdown-item" type="button">Saved Sellers</button></li>
			  <li><button class="dropdown-item" type="button">Messages</button></li>
			  <li><button class="dropdown-item" type="button">Collection beta</button></li>
			</ul>
		  </div>

		  <div class="dropdown"> 
			<button class="btn btn-white" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
					<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
				  </svg>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button"><h5>Please <a href="#">Sign-in </a> to view notifications.</h5></button></li>
			</ul>
		  </div>
		
		  <div class="dropdown"> 
			<button class="btn btn-white" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"> 
					<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
				  </svg>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			  <li><button class="dropdown-item" type="button"><h4 class="text-secondary">Your cart is empty</h4><p class="text-secondary">Time to start shopping!</p></button></li>
			</ul>
		  </div>
	  </div>
	</div><div class="mx-auto" style="width: 300px;"></div>
  </nav>


