<div class="row">
<div class="col-8">
    <div class="card " style="max-width: 860px max-content;">
        <div class="row">
            <p style="font-size: 22px" class="border-bottom text-center mt-3"> SPOTLIGHT DEAL</p>
        </div>
        <div class="row g-0">
          <div class="col-md-6">
            <img src="./assets/item1-daily-deals.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <p style="font-size: 24px" class="card-title ">Dell Inspiron 15 3511 Laptop 15.6"FHD Intel i3-1115G4 128GB SSD 4GB RAM</p>
              <p style="font-size: 20px" class="card-text"><b>$419.99</b></p>
              
              <p style="font-size: 21px" class="card-text text-secondary">$518.99 | <b class="text-black">19% off</b></p>
              <p style="font-size: 20px" class="card-text text-secondary">Free Shipping</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 bg-white border">
       
        <div id="carouselExampleCaptions" class="carousel slide" style="max-width: 860px max-content;" data-bs-ride="carousel">
            <div class="row">
                <p style="font-size: 22px" class="border-bottom text-center mt-3"> Trending Deals</p>
            </div>
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <li class="nav-item">
                    <div class="card border-0 mx-auto" style="width: 19rem;">
                        <img src="./assets/shoes1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="font-size: 17px" class="card-title text-start border-bottom text-center w-100 text-black"> PUMA Mens`s Cool V Sandals</p>
                            <p style="font-size: 21px" class="card-text text-start text-secondary">$30.00 | <b class="text-black">33% off</b></p>
                            <p style="font-size: 17px" class="card-text text-start text-secondary">Free Shipping</p>
                          
                        </div>
                      </div>
                </li>
                <div class="carousel-caption d-none d-md-block">
            
                </div>
              </div>
              <div class="carousel-item">
                <li class="nav-item">
                    <div class="card border-0 mx-auto" style="width: 19rem;">
                        <img src="./assets/shoes2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="font-size: 17px" class="card-title text-start border-bottom text-center w-100 text-black"> PUMA Mens`s Cool Cat Sandals</p>
                            <p style="font-size: 21px" class="card-text text-start text-secondary">$30.00 | <b class="text-black">33% off</b></p>
                            <p style="font-size: 17px" class="card-text text-start text-secondary">Free Shipping</p>
                          
                        </div>
                      </div>
                </li>
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item">
                <li class="nav-item">
                    <div class="card border-0 mx-auto" style="width: 19rem;">
                        <img src="./assets/shoes3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p style="font-size: 17px" class="card-title text-start border-bottom text-center w-100 text-black"> PUMA Mens`s Cool Cat Sandals</p>
                            <p style="font-size: 21px" class="card-text text-start text-secondary">$30.00 | <b class="text-black">33% off</b></p>
                            <p style="font-size: 17px" class="card-text text-start text-secondary">Free Shipping</p>
                          
                        </div>
                      </div>
                </li>
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </div>
            </div>
            <button class="carousel-control-prev " type="button-" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    
    </div>
</div>