<div class="row">
    <div class="col">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/item10.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p style="font-size: 20px;"class="card-title">EGO LB5302-FC POWER+ 530 CFM BL Cordless</p>
                  <p style="font-size: 19px;"class="card-text"><b>$119.99</b></p>
                  <p style="font-size: 17px" class="card-text text-start text-secondary">$180.99 | <b class="text-black">34% off</b></p>
                  <p style="font-size: 16px" class="card-text text-start text-secondary">Free shipping</p>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/item11.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p style="font-size: 20px;"class="card-title">Dell Inspiron 15 3511 Laptop 15.6"FHD Intel </p>
                  <p style="font-size: 19px;"class="card-text"><b>$419.99</b></p>
                  <p style="font-size: 17px" class="card-text text-start text-secondary">$518.99 | <b class="text-black">19% off</b></p>
                  <p style="font-size: 16px" class="card-text text-start text-secondary">Free shipping</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
         <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/item12.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p style="font-size: 20px;"class="card-title">iRobot Roomba 980 Vacuum Cleaning Robot </p>
                  <p style="font-size: 19px;"class="card-text"><b>$279.99</b></p>
                  <p style="font-size: 17px" class="card-text text-start text-secondary">$599.99 | <b class="text-black"> 53% off</b></p>
                  <p style="font-size: 16px" class="card-text text-start text-secondary">Free shipping</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>



<div class="row">
    <div class="col">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/item13.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p style="font-size: 20px;"class="card-title">Bose Frames Alto, Certified Refurbished</p>
                  <p style="font-size: 19px;"class="card-text"><b>$99.00</b></p>
                  <p style="font-size: 17px" class="card-text text-start text-secondary">$199.95 | <b class="text-black">50% off</b></p>
                  <p style="font-size: 16px" class="card-text text-start text-secondary">Free shipping</p>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/item14.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p style="font-size: 20px;"class="card-title">GermGuardian® RAC5000 Factory Reconditioned 4i</p>
                  <p style="font-size: 19px;"class="card-text"><b>$69.99</b></p>
                  <p style="font-size: 17px" class="card-text text-start text-secondary">$179.99 | <b class="text-black">61% off</b></p>
                  <p style="font-size: 16px" class="card-text text-start text-secondary">Free shipping</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
         <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/item15.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p style="font-size: 20px;"class="card-title">YI 4pc Home Camera 1080p Wireless IP Security</p>
                  <p style="font-size: 19px;"class="card-text"><b>$69.99</b></p>
                  <p style="font-size: 17px" class="card-text text-start text-secondary">$84.99 | <b class="text-black">18% off</b></p>
                  <p style="font-size: 16px" class="card-text text-start text-secondary">Free shipping</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>




<div class="row">
    <div class="col">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/item16.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p style="font-size: 20px;"class="card-title">2PCS Campark 1080P Hunting Camera 16MP</p>
                  <p style="font-size: 19px;"class="card-text"><b>$81.99</b></p>
                  <p style="font-size: 17px" class="card-text text-start text-secondary">$89.99 | <b class="text-black">9% off</b></p>
                  <p style="font-size: 16px" class="card-text text-start text-secondary">Free shipping</p>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/item17.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p style="font-size: 20px;"class="card-title">Car 2000A Jump Box Start Dead Battery Starter</p>
                  <p style="font-size: 19px;"class="card-text"><b>$72.00</b></p>
                  <p style="font-size: 17px" class="card-text text-start text-secondary">$109.00 | <b class="text-black">34% off</b></p>
                  <p style="font-size: 16px" class="card-text text-start text-secondary">Free shipping</p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col">
         <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/item18.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p style="font-size: 20px;"class="card-title">Hoover Power Scrub Deluxe Carpet Cleaner</p>
                  <p style="font-size: 19px;"class="card-text"><b>$99.99</b></p>
                  <p style="font-size: 17px" class="card-text text-start text-secondary">$209.99 |  <b class="text-black">52% off</b></p>
                  <p style="font-size: 16px" class="card-text text-start text-secondary">Free shipping</p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>


