

<div class="container" >
    <div class="row">
      <div class="col">
        <img src="./assets/advdwn.webp" alt="" >
      </div>
      <div class="alpha col order-first" style="background-color:lightseagreen">
        <h1 style="font-size: 37px;" class = "text-light">{{cash}}</h1>
        <h1 style="font-size: 18px;" class = "text-light mt-3">{{cash2}}</h1>
        <button type="button" class="btn btn-outline-light btn-lg mt-3">{{sell}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg></button>
      </div>
    </div>
  </div>